.app {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: left;
  background-color: white;
  height: 10vmin;
  border-bottom:2px solid #252D52;
}
.header-logo {
  flex: 1;
  font-size: 100%;
  color: #252D52;
  margin: 0;
  padding:.8vmin;

}

/* navigation menu */

.nav-box {
  flex: 3;
  justify-content: flex-start;
  padding-left: 4vmin;
  padding-right: 4vmin;
  color: #61dafb;
}
.nav-bar {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4vmin;
  border: 0;
  list-style-type: none;
  color:rgb(132, 221, 221);
  font-size: x-large;

}
#home {
  flex: 1;
}
#home:link {
  color:#252D52;
  text-decoration: none;
  transition-duration: .8s;
}
#home:visited {
  color: #252D52;
}
#home:hover {
  color: #BCD1FE;
  text-decoration: overline;
  transition-duration: .8s;
}

#about {
  flex:1;
}
#about:link {
  color:#252D52;
  text-decoration: none;
  transition-duration: .8s;
}
#about:visited {
  color:#252D52;
}
#about:hover {
  color:#BCD1FE;
  text-decoration: overline;
  transition-duration: .8s;
}



#projects {
  flex: 1;
}
#projects:link {
  color: #252D52;
  text-decoration: none;
  transition-duration: .8s;
}
#projects:visited {
  color: #252D52;
}
#projects:hover {
  color: #BCD1FE;
  text-decoration: overline;
  transition-duration: .8s;
}

#contact {
  flex: 1;
}
#contact:link {
  color: #252D52;
  text-decoration: none;
  transition-duration: .8s;
}
#contact:visited {
  color: #252D52;
}
#contact:hover {
  color: #BCD1FE;
  text-decoration: overline;
  transition-duration: .8s;
}

/* request button */

.request-button-div {
flex: 1;
align-items: center;
justify-content: center;
}

.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #252D52;
  color: white;
  border-radius: 30px;
  min-width: 4vmin;
  height: 4vmin;
  box-shadow:none;

  padding: 2vmin;
  font-size: 20px;
  transition-duration: .8s;
  border: none;
  outline: none;
}
.request-button:hover {
  background-color: #BCD1FE;
  transition-duration: .8s;
}

/*end of header content */

.homepage-content {
  display: flex;
  flex-direction: row;
  height: 1080px;
  width: 1920;
  display: flex;
  justify-content: center;
  background-image: url(./homepage-bg.png);
  animation: entry-effect 2s;

}
#welcome-text {
  color: #282c34;
  flex:1;
  margin-top: 40vh;
}
.homepage-img {
  width:fit-content;
}
.about-page {
  background-color:#252D52;
  height: 1080px;
  color: white;
}
.about-heading {
  margin: 0;
  font-size: 425%;
  padding: 10vmin;
  font-family: 'gill-sans', sans-serif;
  text-decoration: none;
}
.headshot {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  width: 35vmin;
  height: 35vmin;
}

.about-p {
  padding: 10vmin;
  font-size: 175%;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

.reveal {
  position: relative;
  transform: translateY(150);
  opacity: 0;
  transition:1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/*Animations*/

@keyframes logo-effect {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes entry-effect {
  from {
    opacity:0%;
  }
  to {
    opacity:100%;
  }
}